<input type="hidden" id="btnModalSuc" data-bs-toggle="modal" data-bs-target="#sucursalModal">

<div class="modal fade" id="sucursalModal" tabindex="-1" role="dialog" aria-labelledby="sucursalModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sucursalModal">Selecciona una sucursal</h5>
            </div>
            <div class="modal-body">
                <select [(ngModel)]="idSucursal" name="idSucursal" class="form-select">
                    <option *ngFor="let sucursal of sucursales" value="{{sucursal.idSucursal}}">{{sucursal.sucursal}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="entrar()">Entrar</button>
            </div>
        </div>
    </div>
</div>