<div class="container mt-3">
    <div class="row">
        <div class="col-4">
            Sucursal:
            <select (change)="this.listarProductos()" [(ngModel)]="idSucursal" id="idSucursal" class="form-select">
                <option *ngFor="let sucursal of sucursales" value="{{sucursal.idSucursal}}">{{sucursal.sucursal}}
                </option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input class="form-control" type="text" placeholder="Buscar Nombre/Código..." (input)="onSearch($event)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <table  mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="producto">
                    <th mat-header-cell *matHeaderCellDef class="th-table" style="width: 45%;"> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
                </ng-container>
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef class="th-table" style="width: 25%;"> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                </ng-container>
                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef class="th-table" style="width: 15%; text-align: right;"> Cantidad </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 0; padding-left: 0;"><input *ngIf="element.inventariar" [(ngModel)]="element.cantidad" type="number" class="input-cantidad"/> </td>
                </ng-container>
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef class="th-table" style="width: 15%; text-align: right;"> Precio </th>
                    <td mat-cell *matCellDef="let element" style="padding-right: 0; padding-left: 0;"><input [(ngModel)]="element.precio" type="number" class="input-cantidad"/> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
            </mat-paginator>

        </div>

    </div>
    <div class="row">
        <div class="offset-10 col-2">
            <button class="btn btn-primary mt-3" style="width: 100%;" (click)="guardar()">Guardar</button>
        </div>
    </div>

</div>