/* Estilos personalizados para el punto de venta */
.custom-ng-select {
    width: 100%;
}


.form-floating label {
    font-size: 0.9rem;
    top: 0;
    left: 0rem;
}

.table > :not(caption) > * > * {
    vertical-align: middle;
    text-align: center;
}

.card-body {
    max-height: 400px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

.bg-light {
    background-color: #f8f9fa !important;
}

.card-header {
    font-weight: bold;
}

.btn-outline-primary {
    font-size: 0.9rem;
    line-height: 1.2;
}




.fw-bold {
    font-weight: bold;
}

.card-rapido {
    height: 80px;
}

.btn-rounded {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    line-height: 1.6;
}

.form-select {
    padding-left: 10px;
    padding-right: 10px;
}

button[type="button"] {
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

button[type="button"] i {
    font-size: 1.5rem;
}

.btn-rounded {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    line-height: 1.4;
}

.btn-outline-secondary.btn-sm {
    font-size: 1.2rem;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 1.2;
}

.card-body .row .col-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.card-body .row .col-3 button {
    margin-top: 5px;
    margin-bottom: 5px;
}



.card-body table th {
    padding: 2px;
    font-size: 1rem;
}

.card-body table td {
    padding: 2px;
    font-size: 0.9rem;
}

.td-carrito{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.btn-pago{
    background-color: #146c43;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 5px 15px 10px 15px;
    border-radius: 5px;
    font-size: 25px;
}

.btn-finalizar{
    background-color: #146c43;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
}

.btn-quick{
    height: 100px;
}
  