.table-precios {
    border-collapse: collapse;
    width: 100%;
    background: white;
}

.table-precios th{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

.table-precios td {
    border: 1px solid black;
    padding: 0;
    text-align: left;
}

.table-precios tbody td input {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0 !important;
    width: 100%;
}