<nav class="navbar navbar-dark bg-primary justify-content-between navbar-expand-lg">
    <a class="navbar-brand" style="margin-left: 20px;">Punto de venta</a>
    <form class="form-inline">
        <button class="btn btn-primary my-2 my-sm-0 btn-outline-success" style="margin-right: 20px; width: 150px; color: white; border-color: white;" type="submit" (click)="depositarAlert()">Depositar</button>
        <button class="btn btn-primary my-2 my-sm-0 btn-outline-success" style="margin-right: 20px; width: 150px; color: white; border-color: white;" type="submit" (click)="retirarAlert()">Retirar</button>
        <button class="btn btn-primary my-2 my-sm-0 btn-outline-secondary" style="margin-right: 20px; width: 150px; color: white; border-color: white;" type="submit" (click)="alertCerrarSesion()">Cerrar Sesión</button>
    </form>
</nav>
